<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the server.js file is a Node.js application to be handled by iisnode -->
    <handlers>
      <add name="iisnode" path="backend/server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Rewrite all requests to the server.js entry point -->
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="/*" />
          <action type="Rewrite" url="backend/server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configure which files iisnode should watch for changes -->
    <iisnode 
      watchedFiles=".js;node_modules\;routes\.js;views\.js"
      nodeProcessCommandLine="node --max-old-space-size=4096"
      loggingEnabled="true"
      debuggingEnabled="false"
      devErrorsEnabled="true" />
      
    <!-- Add MIME types for files your app serves -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- Configure server-level settings -->
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
